<!DOCTYPE html>
<html>
<head>
	<title>Baseball Team List</title>

		<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

	<ul>
		<% for (let i = 0; i<teams.length; i++) { %>
			<li>
				Name: <%=teams[i].name%>
				Title: <%=teams[i].titles%>
			</li>


				<form action="/teams/<%=teams[i]._id%>?_method=DELETE" method="POST">
                    <button type='Submit'>Delete</button>
                </form>
		<%}%>
	</ul>
	           <a href="/teams/new">Create a New Team</a>
		
</body>
</html>