<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Team Show Page</h1>

        <a href="/teams/<%=teams._id%>/edit">Edit</a>

        This team, <%=teams.name; %> has <%=teams.titles; %> titles.<br/>

    </body>
</html>
